# Temp Files
Temp

#Metadata
Library

#VS Debug
Win32/TEST/Debug
Win32/TEST/TEST/Debug

#Visual Studio
.vs/

#Due to the current version
Assets/Plugins/*.unitypackage

#Build
ScreenGrabber_Data
*.exe
UnityPlayer.dll